<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}} information</title>
</head>

<body>

    <h2>{{.Name}} information</h2>
    <div>
        <!-- SSR  server side render -->
        <span class="item-name">Name: </span> <span>{{.Name}} </span><br />
        <span>Age: </span> <span>{{.Age}} </span><br />
        <span>Email: </span> <span>{{.Email}} </span><br />


    </div>

</body>

</html>